body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.screen {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box{
  width: 600px;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #070707;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 14px #2f292d;
}

.box h1{
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}

.box h1:hover{
  animation: bounce 1s linear;
}

@keyframes bounce {
    20%,50%,80%,to{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-30px);
    }
    70%{
      transform: translateY(-15px);
    }
    90%{
      transform: translateY(-4px);
    }

}

.box input[type = "text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #003399;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus{
  width: 380px;
  border-color: #007fff;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
  transition: 1s;
}

button {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    border: 2px solid white;
    background: none;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}
